
@font-face {
    font-family: Inter-Regular;
    src: url("../../fonts/Inter/static/Inter-Regular.ttf");
  }
.container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 3.5rem;
}
.searchResults{
    font-family: Inter-Regular, Helvetica, Arial, sans-serif;
    float: left;
}
.clearButton{
    font-family: Inter-Regular, Helvetica, Arial, sans-serif;
    vertical-align: top;
    float: right;
    color:rgb(49, 48, 48);
}
.clearButton:hover{
    cursor: pointer;
}
.clearWords{
    vertical-align:top;
    font-weight: 600;
}

.words{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    width: 37.75rem;
}
.xicon{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    bottom: 3px;
    height: 1.5rem;
    width: 1.5rem;
}
