@font-face {
  font-family: Inter-Regular;
  src: url('../../fonts/Inter/static/Inter-Regular.ttf');
}

.avatar {
  position: relative;
  border: 0.13rem solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 1.85rem;
  height: 1.85rem;
  margin-left: 1.5rem;
  margin-top: 0.19rem;
}

.avatarHidden {
  visibility: hidden;
  position: relative;
  border: 0.13rem solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 1.85rem;
  height: 1.85rem;
  margin-left: 1.55rem;
  margin-top: 0.19rem;
}

.container {
  font-family: Inter-Regular, Helvetica, Arial, sans-serif;
  background-color: #ffffff17;
  border-radius: 1rem;
  width: 38.563rem;
  flex-basis: content;
  padding-top: 1.275rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 4.875rem;
  margin-bottom: 25px;
}
.name {
  padding-top: 0.6rem;
  margin-right: -6rem;
  margin-left: -10.71rem;
  color: #9873ff;
  font-size: 1rem;
  text-align: left;
  font-family: Inter-Regular, Helvetica, Arial, sans-serif;
}

.btn {
  position: absolute;
  margin-left: 26.7rem;
}
