@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.profilePageContainer{
    color:white;
    width: 38rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}
.arrowIcon{
    height: 13px;
    width: 16px;
    font-weight: 199;
}
.backToShoutOut{
    padding-left: 10px;
    color: white;
    font-family: inter;
}
.backButton{
    padding-top: 10%;
    position: relative;
    width: fit-content;
}
.hoverbutton:hover{
    cursor: pointer;
}
.profilePicture{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.picture{
    margin:0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
}
.name{
    padding-top: 3%;
    color: #9873FF;
    font-family: inter;
    font-size: 26px;
    font-weight: 700;
}
.shoutoutsContainer{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.shoutout{
    margin:0 auto;

}



