.closeButton {
  position: absolute;
  right: 5.45rem;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.closeIcon {
  color: #c82323;
  height: 3.5rem;
  top: 50%;
  right: 1rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  stroke-width: 0;
}

.magnifyingGlassInactive {
  color: #6a7078;
  height: 1.4rem;
  right: 1rem;
}

.magnifyingGlassActive {
  color: #5b24f2;
  height: 1.4rem;
  right: 1rem;
}

.magnifyingGlassWrapper {
  position: absolute;
  left: 2rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.searchInput,
.closeIcon,
.searchWrapper {
  position: relative;
  padding: 1rem;
}

.searchInput {
  width: 80%;
  border: 0.1rem solid #ccc;
  outline: 0;
  border-radius: 0.5rem;
  min-height: 3.5rem;
  padding-left: 3rem;
  font-size: 1rem;
}

.searchWrapper {
  width: 22.2rem;
  margin: auto;
  position: relative;
}

.closeIcon:hover {
  cursor: pointer;
}

.searchInput:focus,
.searchInputWithText {
  border: 0.1rem solid #5b24f2;
  caret-color: #5b24f2;
}
