@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url("../fonts/Inter/static/Inter-SemiBold.ttf");
}

.container {
  padding: 0 2rem;
  font-family: Inter-Regular;
}

.icon {
  background: linear-gradient(253.43deg, #9873ff, #5b24f2 100%);
  width: 5.188rem;
  height: 5rem;
  border-radius: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.625rem;
}

.logoutContainer {
  height: 2.875rem;
  z-index: 1;
  background: linear-gradient(180deg, #1b1c1f 0%, #1b1c1f 100%);
  padding: 0.75rem 2.5rem;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  align-content: center;
  white-space: nowrap;
}

.logout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #340f99 0%, #9873ff 100%);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
  border-radius: 8px;
}

.logout:hover::before {
  opacity: 1;
}

.loginContainer {
  width: 8.25rem;
  height: 2.875rem;
  text-align: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #1b1c1f 0%, #1b1c1f 100%);
  padding: 0.75rem 2.5rem;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #340f99 0%, #9873ff 100%);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
  border-radius: 8px;
}

.login:hover::before {
  opacity: 1;
}

.loginContainer {
  margin-top: 2.75rem;
}

.searchContainer {
  margin-top: -0.5rem;
  margin-bottom: 1.55rem;
}

.subheader {
  font-size: 1rem;
  color: #ffffffa9;
}

.title {
  font-size: 1.91rem;
  font-family: Inter-SemiBold;
  margin-bottom: -0.3rem;
  margin-top: 1.75rem;
}
